<% content_for :title, "Nova Disciplina" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Nova Disciplina</h1>
  <%= link_to "Voltar", disciplinas_path, class: "btn btn-secondary" %>
</div>

<%= render "form", disciplina: @disciplina %>