<% content_for :title, "Cadastrar Aluno" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Cadastrar Aluno</h1>
  <%= link_to "Voltar", alunos_path, class: "btn btn-secondary" %>
</div>

<%= render "form", aluno: @aluno %>