<% content_for :title, "Nova Matrícula" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Nova Matrícula</h1>
  <%= link_to "Voltar", matriculas_path, class: "btn btn-secondary" %>
</div>

<%= render "form", matricula: @matricula %>